*{
	margin: 0px;
	padding:0px;
}
body{
	header{
		width: 100%;
		height: 100px;
		nav{
			position: fixed;
			ul{
				margin-left: 15px;
				li{
					list-style: none;
					display: inline-block;
					vertical-align: top;
					position: relative;
					&#m_hide{
						top:30px;	
					}
					span{
						&.material-icons{
							font-size: 80px;
							position: relative;
							top: 7px;
							color: #ccc;
						}
						&:hover{
							color: #171814;
							cursor: pointer;
						}
					}
					a{
						font-size: 27px;
						padding-right: 10px;
						font-family: 'Bangers';
						color: #ccc;
						text-decoration: none;
						&:hover{
							color: #171814;
							text-decoration: none;
						}
					}
					&.hide{
						display: none;
					}
				}
			}
		}
	}
}