* {
  margin: 0px;
  padding: 0px;
}

body header {
  width: 100%;
  height: 100px;
}

body header nav {
  position: fixed;
}

body header nav ul {
  margin-left: 15px;
}

body header nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

body header nav ul li#m_hide {
  top: 30px;
}

body header nav ul li span.material-icons {
  font-size: 80px;
  position: relative;
  top: 7px;
  color: #ccc;
}

body header nav ul li span:hover {
  color: #171814;
  cursor: pointer;
}

body header nav ul li a {
  font-size: 27px;
  padding-right: 10px;
  font-family: 'Bangers';
  color: #ccc;
  text-decoration: none;
}

body header nav ul li a:hover {
  color: #171814;
  text-decoration: none;
}

body header nav ul li.hide {
  display: none;
}
