*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	section{
		div{	
			&#contiene-nosotros{
			padding-top: 20px;
			width: 1000px;
			margin: 0 auto;
		}	
			h2{
				text-align: center;
				padding-bottom: 20px;
			}		
		}

	}
}

body{
	section{
		div{	
			&#contiene-contacto{
			padding-top: 20px;
			width: 1000px;
			margin: 0 auto;
		}	
			h2{
				text-align: center;
				padding-bottom: 20px;
				form{
					
				}
			}

		}

	}
}
