*{
	margin: 0px;
	padding:0px;
}
body{
	header{
		width: 100%;
		height: 100px;
		position: fixed;
		z-index: 1;
		nav{
			&.nav-tabs{
				border-bottom: none;
			}
			ul{
				margin-left: 15px;
				li{
					list-style: none;
					display: inline-block;
					vertical-align: top;
					position: relative;
					&#m_hide{
						top:30px;	
					}
					span{
						&.material-icons{
							font-size: 80px;
							position: relative;
							top: 7px;
							color: #760000;
						}
						&:hover{
							color: #171814;
							cursor: pointer;
						}
					}
					a{
						font-size: 27px;
						padding-right: 10px;
						font-family: 'Bangers';
						color: #760000;
						text-decoration: none;
						&:hover{
							color: #171814;
							text-decoration: none;
						}
					}
					&.hide{
						display: none;
					}
				}
			}
		}
	}
	section{
		&.slide{
			div{
				&.carousel-inner{
					margin-right: auto;
					width: 100%;
					height: 100%;
					div{
						&.item{
							img{
								width: 100%;
							}
						}
					}
				}
			}
		}
		div{
			&#contiene-nosotros{
				padding-top: 20px;
				margin: 0 auto;
				width: 1000px;
			}
			h2{
				text-align: center;
				padding-bottom: 20px;
			}
		}
	}

	
	footer{
	height: 200px;
	background-color: #64706c;

		.columna{
		color: #fff;
		padding: 20px;
		display: inline-block;
		width: 33%;
		vertical-align: top;

			address { 
	   		 display: block;
	   		 font-style: italic;
			}	

			a{
				
			font-size: 20px;
			color: #FFF;
			padding: 10px;
				
			}	
		}
	}

}
